.DS_Store

*.blg
*.aux
*.bbl
*.dvi

*.swp

.ipynb_checkpoints

.cache/
__pycache__/

.pytest_cache

tmp/

nepc.egg-info/

.eggs/

.coverage

pytestdebug.log

data/cs_datfile_local.tsv

_build/

dist/
build/
